[submodule "lib/FASTAReader"]
	path = lib/FASTAReader
	url = git://github.com/shinout/FASTAReader.git
[submodule "lib/workflow"]
	path = lib/workflow
	url = git://github.com/shinout/workflow.js.git
[submodule "lib/argparser"]
	path = lib/argparser
	url = git://github.com/shinout/argparser
[submodule "lib/LineStream"]
	path = lib/LineStream
	url = git://github.com/shinout/LineStream
[submodule "lib/Junjo"]
	path = lib/Junjo
	url = github:shinout/Junjo.js.git
[submodule "lib/ArrayEmitter"]
	path = lib/ArrayEmitter
	url = github:shinout/ArrayEmitter.git
